{% macro parse(namespace_doc, current_namespace, data) %}
    {% set method_count = 0 %}

    {% if namespace_doc.methods is not empty %}
        {% for method in namespace_doc.methods %}
            {% if method.declaringClass is defined %}
                {% if method.declaringClass.name is same as(current_namespace) %}
                    {% set class_route = '' %}

                    {% for class_attribute in method.declaringClass.attributes %}
                        {% if class_route is same as('') %}
                            {% if class_attribute.name is same as('Symfony\\Component\\Routing\\Annotation\\Route') %}
                                {% if class_attribute.arguments['path'] is defined %}
                                    {% set class_route = class_attribute.arguments['path'] %}
                                {% else %}
                                    {% set class_route = class_attribute.arguments[0] %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% set exist_paths = [] %}

                    {% for attribute in method.attributes %}
                        {% if attribute.name is same as('Symfony\\Component\\Routing\\Annotation\\Route') %}
                            {% if attribute.arguments is not empty %}
                                {% if attribute.arguments['path'] is defined %}
                                    {% set path = attribute.arguments['path'] %}
                                {% else %}
                                    {% set path = attribute.arguments[0] %}
                                {% endif %}

                                {% if path not in exist_paths %}
                                    <tr>
                                        {% include '@Nvdoc/_components/_table/_fields/_name.html.twig' with {
                                            entity: method
                                        } %}
                                        <td class="px-4 py-4 text-sm whitespace-nowrap">
                                        <span class="px-3 py-1 bg-slate-800 rounded">
                                            {% if path is same as('/') %}
                                                {{ class_route }}
                                            {% else %}
                                                {{ class_route ~ path }}
                                            {% endif %}
                                        </span>
                                        </td>
                                        <td class="px-4 py-4 text-sm whitespace-nowrap">
                                            <table>
                                                <tbody>
                                                {% set parameters_count = 0 %}

                                                {% if method.docComment is not null and '@NVParam' in method.docComment %}
                                                    {% set doc = method.docComment|split('\n') %}

                                                    {% for row in doc %}
                                                        {% if '@NVParam' in row %}
                                                            {% set annotation = row|split('*') %}

                                                            {% if annotation|length > 1 %}
                                                                {% set annotation = annotation|last|trim %}

                                                                {% set data = annotation|split('(')[1]|trim(')')|replace({'\'': ''})|split(', ') %}

                                                                {% if data[0] is defined %}
                                                                    <tr>
                                                                        <td>
                                                                            {{ data[0] }}
                                                                        </td>

                                                                        <td class="pl-2">
                                                                            {% if data[1] is defined %}
                                                                                {{ data[1] }}
                                                                            {% else %}
                                                                                <span class="text-red-500 lowercase">
                                                                            {{ 'class.types.undefined'|trans({}, 'nvdoc_namespace') }}
                                                                        </span>
                                                                            {% endif %}
                                                                        </td>

                                                                        <td class="pl-2">
                                                                            {% if data[2] is defined %}
                                                                                <span class="uppercase">{{ data[2] }}</span>
                                                                            {% else %}
                                                                                <span class="text-red-500 lowercase">
                                                                        {{ 'class.types.undefined'|trans({}, 'nvdoc_namespace') }}
                                                                    </span>
                                                                            {% endif %}
                                                                        </td>

                                                                        {% set parameters_count = parameters_count + 1 %}
                                                                    </tr>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                {% if parameters_count is same as(0) %}
                                                    <tr>
                                                        <td>
                                                            {{ 'class.parameters.empty'|trans({}, 'nvdoc_namespace') }}
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                {% endif %}

                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="px-4 py-4 text-sm whitespace-nowrap">
                                            {% if method.docComment is not null and '@NVAPI' in method.docComment %}
                                                {{ 'read.values.yes'|trans({}, 'nvdoc') }}
                                            {% else %}
                                                {{ 'read.values.no'|trans({}, 'nvdoc') }}
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% set exist_paths = exist_paths|merge([path]) %}
                                    {% set method_count = method_count + 1 %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if method_count is same as(0) %}
            <tr>
                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                    {{ 'class.api.empty'|trans({}, 'nvdoc_namespace') }}
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                {{ 'class.api.empty'|trans({}, 'nvdoc_namespace') }}
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
{% endmacro %}
